.header, .navbar {
    background-color: #1F3C4C !important;
    color: #C9A66B !important;
}

.footer {
    background-color: #1F3C4C !important;
    color: #C9A66B !important;
}

.card, .custom-card {
    background-color: #868B9F !important;
    border: 1px solid #1F3C4C !important;
    color: #fff !important;
}

.btn-primary {
    background-color: #1F3C4C !important;
    border-color: #1F3C4C !important;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: #162b36 !important;
}

.btn-outline-secondary,
.btn-outline-danger {
    color: #C9A66B !important;
    border-color: #C9A66B !important;
}

.btn-outline-secondary:hover,
.btn-outline-danger:hover {
    background-color: #C9A66B !important;
    color: #1F3C4C !important;
}

